*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3066BE;
    text-align: center;
    
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #963484;
    background-color: #28C2FF;
}

#reset{
 padding: 1rem;
 font-size: 1.8rem;
 color: #38a4aa;
 border-radius: 2rem;
 border: none;
}

#newGame{
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #38a4aa;
    border-radius: 1.2rem;
    border: none;
}

#msg{
    color: bisque;
    font-size: 5vmin;
}

.msg-container{
    height: 70vmin;
}

.hide{
    display: none;
}